
.row{
  width: 100% !important;
}

.m-2{
  border-radius: 10px !important;
  width: 100% !important;
  padding-left: 0.5rem !important;
  
}

.navbar{
  padding-right: 0.5rem;
  padding-left: 3rem !important;
  padding-bottom: 0.5rem;
}

.nav-item{
  font-size: 1rem;
  color: white !important;
}
#dashboard{
  font-size: 20px;
  font-weight: 700;  
  text-decoration: overline;
}

.nav-item:hover{
  color: #333 !important;
}

 #upper-main{
    background-image: linear-gradient(#301E67,#5B8FB9,#301E67);
    width: 100% !important;
  }
 
  #main-head{
    margin-left: 50px;
    margin-top: 200px;
    font-weight: 900;
    text-shadow: 2px 2px 4px white;
    font-family:var(--font-family-display,"Charlie Display",sans-serif);
    line-height: 1.5;
    mix-blend-mode:hard-light;
  }

  #sub-head{
    margin-left: 90px;
    margin-top: 35px;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 0px 4px 8px black ;
    color: aliceblue;
    font-family:var(--font-family-display,"Charlie Display",sans-serif);
    mix-blend-mode:hard-light;
  } 

  .btn{
    cursor: pointer;
  }

  .first{
    margin-left: 150px;
    display: block;
    margin-top: 15px; 
    box-shadow: 0px 1px 10px darkblue;
    border-radius: 15px !important; 
  }

  .second{
    padding-left: 7rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    }
  .second .btn{
    box-shadow: 0px 1px 10px darkgreen;
    
    border-radius: 12px !important;
  }  

  .first a{
    text-decoration: none !important;
    color: white;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 25px !important;
  }

  .second a{

    text-decoration: none !important;
    color: white;
    font-family:cursive;
    font-size: 20px !important;
  }



  .btn2{
    margin-left: 20px;
  }

  .second a:hover{
    color:#d0d1d3;
    transform:scale(0.8) !important ;
  }
  .first a:hover{
    color:rgb(12, 12, 12);
  }

#main-pic{
  margin-top:80px ;
  height: 80px !important;

}

#main-pic #img1{
  border-radius: 50px !important;
  margin-top: 70px;
  height: 350px;
  margin-left: 100px;
  box-shadow: 2px,4px,8px #8093aa;
  object-fit: contain;
  mix-blend-mode: color-burn;
  
}

#main-pic #img2{
  border-radius: 50px !important;
  margin-top: -440px;
  margin-left: 300px;
  width: 290px;
  box-shadow: 2px,4px,8px #8093aa;
  object-fit: contain;
  mix-blend-mode: color-burn;
}

     /*Services Part*/

     #service-sec{
        margin-top: -25px;
        background-color: #f5f5ff;
        
        border-radius: 10px;
     }

     .tit{
      font-weight: 900;
      text-shadow: 0px 1px 1px black;
      margin-top: 35px;
      color: #5B8FB9;
      text-decoration:overline;
      
     }
     .section-title p{
      font-size: 22px;
      font-weight: 600;
      color: black !important;

     }


    .section-serivces{
      margin-top: 25px;
      height: 900px;
      
      background-color: linear-gradient(120deg,grey,white,grey);
    }   

      .service-container {
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
      
      .service-container .icon {
        margin-top: 5%;
        font-size: 38px;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
      
      .service-container .number-icon .icon-2 {
        height: 70px;
        width: 70px;
        line-height: 80px;
        border-radius: 64% 36% 55% 45% / 76% 72% 28% 24% !important;
        border-color: #f89d36 !important;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
      
      .service-container .number-icon .icon-2 i {
        font-size: 30px;
      }
      
      .service-container .number-icon .number {

        top: 0;
        right: 70px;
        left: 0;
        height: 35px;
        width: 35px;
        margin: 0 auto;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
      
      .service-container .number-icon .number span {
        line-height: 30px;
      }
      
      .service-container .content .number {
        font-size: 40px;
        color: #dee2e6;
      }
      
      .service-container .content .title {
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
      
      .service-container.hover-bg {
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
      
      .service-container.hover-bg .smooth-icon {

        bottom: -40px;
        right: -20px;
        font-size: 60px;
        color: grey;
        -webkit-transition: all 0.8s ease;
        transition: all 0.8s ease;
      }
      
      .service-container.hover-bg:hover {
        background-color: #f89d36;
      }
      
      .service-container.hover-bg:hover .content .title {
        color: #ffffff !important;
      }
      
      .service-container.hover-bg:hover .content .serv-pera {
        color: #fafafb !important;
      }
      
      .service-container.hover-bg:hover .smooth-icon {
        font-size: 100px;
        opacity: 0.2;
        bottom: -20px;
        right: 10px;
      }
      
      .service-container:hover {
        background-color: #ffffff;
        -webkit-box-shadow: 0 10px 25px rgba(47, 60, 78, 0.15) !important;
                box-shadow: 0 10px 25px rgba(47, 60, 78, 0.15) !important;
      }
      
      .service-container:hover .icon {
        color: #f89d36;
        -webkit-animation: mover 1s infinite alternate;
                animation: mover 1s infinite alternate;
      }
      
      .service-container:hover .number-icon .icon-2 {
        background-color: #f89d36;
        border-radius: 50% !important;
      }
      
      .service-container:hover .number-icon .icon-2 i {
        color: #ffffff !important;
      }
      
      .service-container:hover .number-icon .number {
        color: #ffffff;
        background: #f89d36 !important;
        border-color: #ffffff !important;
      }
      
      .service-container:hover .content .title {
        color: #f89d36;
      }
      
      .service-container a:hover,
      .service-container a .title:hover {
        color: #f89d36 !important;
      }
      
      @-webkit-keyframes mover {
        0% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
        }
        100% {
          -webkit-transform: translateY(-15px);
                  transform: translateY(-15px);
        }
      }
      
      @keyframes mover {
        0% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
        }
        100% {
          -webkit-transform: translateY(-15px);
                  transform: translateY(-15px);
        }
      }
      
      .service-wrapper {
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
      
      .service-wrapper .icon {
        width: 60px;
        height: 60px;
        line-height: 45px;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
      
      .service-wrapper .content .title {
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        font-weight: 500;
      }
      
      .service-wrapper .big-icon {
        position: absolute;
        right: 0;
        bottom: 0;
        opacity: 0.05;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
      
      .service-wrapper:hover {
        -webkit-box-shadow: 0 10px 25px rgba(47, 60, 78, 0.15) !important;
                box-shadow: 0 10px 25px rgba(47, 60, 78, 0.15) !important;
        background: #ffffff;
        -webkit-transform: translateY(-8px);
                transform: translateY(-8px);
        border-color: transparent !important;
      }
      
      .service-wrapper:hover .icon {
        background: #0062ff !important;
        color: #ffffff !important;
      }
      
      .service-wrapper:hover .big-icon {
        z-index: -1;
        opacity: 0.2;
        font-size: 160px;
      }
      
      .text-custom {
          color: #0062ff !important;
      }
      
      .uim-svg {
          display: inline-block;
          height: 1em;
          vertical-align: -0.125em;
          font-size: inherit;
          fill: var(--uim-color, currentColor);
      }

                 /*FAQ Question*/
      #faq {
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        text-shadow: 0px 1px 1px black;
        margin-bottom: 20px;
     }
      
      .faq__title {
        font-size: 30px;
        text-transform: uppercase;
        color: #5B8FB9;
        text-decoration: overline;
        font-weight: 700;
        margin-top: 20px;
        line-height: 1.5;
      }
      
      .faq__subtitle {
        font-size: 23px !important;
        font-weight: 650 !important;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      }
      
      .faq__question {
        margin: 5px;
        background-color: #a9c4e2;
        border-radius: 10px;
        cursor: pointer;
        padding: 10px;
        width: 70%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.5;
        position: relative;
        padding-left: 40px;
        transition: all 0.2s ease;
        height: 100px;
        font-family: 'Times New Roman', Times, serif;

      }
      
      .faq__question:after {
        content: "\02795";
        position: absolute;
        left: 10px;
        font-size: 14px;
      }
      
      .faq__question_active:after {
        content: "\2796";
        color: white;
        position: absolute;
        left: 10px;
        font-size: 14px;
      }
      
      .faq__subtitle {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.55;
        padding-top: 8px;
        padding-bottom: 10px;
      }
      
      .faq__panel {
        display: none;

        text-align: left;
        font-size: 18px;
        line-height: 1.5;
        padding-left: 18%;
        max-width: 70%;
        overflow: hidden;
        font-weight: 50 !important;
      }
      
      .faq__question:hover {
        background-color: #8093aa;
      }
      
      .faq__panel_active {
        display: block;
      }
                /*GEt in touch*/
      .get-in-touch {
        width: 50%;
        background-color: #f2f2f2;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 2px 2px 10px #999;
        margin-left: 25%;
        margin-top: 25px;
        display: block;
      }
      
      .get-in-touch i {
        font-size: 50px;
        color: #193e68;
        margin-bottom: 20px;
        font-weight: 800;
      }
      
      .get-in-touch h3 {
        font-size: 24px;
        color: #193e68;
        margin-bottom: 10px;
        font-weight: 600;
      }
      
      .get-in-touch p {
        font-size: 18px;
        color: #333;
        margin-bottom: 20px;
        font-weight: 400;
      }
      
      .get-in-touch a {
        display: inline-block;
        padding: 10px 20px;
        background-color: #a9c4e2;
        color: #193e68;
        border-radius: 25px;
        text-decoration: none;
        font-weight:300;
        font-size: 17px;
      }
      

      /*Footer part*/
      footer {
        background-color: #301E67;
        color: #fff;
        padding: 30px 0;
      }
      
      footer h3 {
        font-size: 25px;
        margin-bottom: 20px;
        text-align: center;
      }
      
      footer p {
        font-size: 16px;
        margin-bottom: 20px;
        text-align: center;
      }
      
      footer ul {
        list-style: none;
        padding: 0;
        margin-bottom: 20px;
      }
      
      footer li a {
        color: #fff;
        text-decoration: none; 
        text-align: center;
        font-size: 18px;
      }

      .linkthasc li{
          margin-left: 150px;
      }

      .follow-us {
        text-align: center;
      }
      
      .follow-us h3 {
        margin-bottom: 20px;
        font-size: 25px;
      }
      
      .follow-us ul {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      .follow-us li {
        display: inline-block;
        margin-right: 20px;
      }
      
      .follow-us a {
        color:white;
        font-weight: 900;
        display: block;
        font-size: 18px;
        text-decoration: none;
      }
      
      .follow-us a:hover {
        color: #0077C9;
      }
      
      
     .copyright {
        padding: 10px 0 0px 50px;
        text-align: center;
      }
      
      .copyright p {
        font-size: 20px;
        color: #fff;
        margin: 0;
        text-align: center;
        margin-left: 15px;
        margin-top: -25px;
       
      }

      .copyright img{
        aspect-ratio: 3/2;
        object-fit: contain;
        mix-blend-mode: color-burn;
        margin: 15px;
        height: 15%;
        width: 15%; 
        margin-left: 50px;
        margin-top: -10px;     
      }



      /*About Us*/

      .explore{
        margin-left: 150px;
        display: block;
        margin-top: 15px; 
        box-shadow: 0px 1px 10px #193e68;
        border-radius: 20px !important;
        background-color: #193e68 !important; 
      }

      .explore a{
        font-size: 25px !important;
        text-decoration: none !important;
        color: white !important;
        font-weight: 600;
      }

      .explore:hover{
        background-color: white !important;
        border: 2px solid #193e68;
        color: #193e68 !important; 
      }

      .explore a:hover{
        color:#193e68 !important;
      }
      #about-us {
        padding: 80px 0;
        background-color: #f7f7f7;
        text-shadow: 0px 1px 1px black;

      }
      

      #about-us h2 {
        text-decoration: overline;
        text-align: center;        
        margin-bottom: 45px;
        font-size: 30px;
        text-transform: uppercase;
        color: #5B8FB9;
        font-weight: 700;
        margin-top: 20px;

      }
      
      #about-us p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 25px;
        font-family:Georgia, 'Times New Roman', Times, serif;
      }
      #leftsec{
        margin-top: 20px;
      }
      
      #about-us img {
        max-width: 100%;
        border-radius: 20px !important;
        margin-top: 20px;
        margin-left: -45px;
        box-shadow: 2px 4px 8px #8093aa;
 
      }

     
      

      

      



                       